@page "/"
@rendermode InteractiveWebAssembly
@using Zenvestify.Shared.Layout
@layout NotLoggedInLayout
@inject NavigationManager Nav

<section class="landing-hero bg-grid text-center py-5">
    <div class="container">
        <div class="container-sm">
            <h1 class="display-3 fw-bold hero-heading mb-0 topLevel">Simplify money</h1>
            <h1 class="display-3 fw-bold hero-heading mt-1 bottomLevel">Maximize savings</h1>
        </div>
       
        <p class="lead text-light-emphasis mb-4">
            Clarity, confidence, and control over your finances
        </p>
        <a href="/login" class="btn btn-primary btn-lg btn-brand btn-neon accent-ring"
           @onclick='() => Nav.NavigateTo("/login", forceLoad: true)'
           @onclick:preventDefault="true">
            Log in to start
        </a>
        <div class="display-9 mt-3 signUpLink">
            New to Zenvestify?<a href="/signup"
                                 class="link-light text-decoration-underline"
                                 @onclick='() => Nav.NavigateTo("/signup", forceLoad: true)'
                                 @onclick:preventDefault>
                Sign up
            </a>
        </div>
    </div>
</section>


@* <script>
    (function(){
      const h=new Date().getHours();
      const name="User";
      const g = h<12?"Good morning":(h<18?"Good afternoon":"Good evening");
      const el=document.getElementById("greet");
      if(el) el.textContent = `${g}, ${name} 👋`;
    })();

    const m = new bootstrap.Modal(document.getElementById('loginPrompt'));
</script> *@
