@inherits LayoutComponentBase

<header class="auth-header">
    <a href="/" class="brand">
       <img src="_content/Zenvestify.Shared/images/logos/logo-desktop.svg" alt="Zenvestify" height="28" />
        @* <img src="_content/Zenvestify.Shared/images/logos/ZV2.png" alt="Zenvestify" height="28" /> *@
    </a>
</header>

<div class="notLoggedIn-layout">
    @Body
</div>
